.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card-add {
  padding: 20px;
}

.alert i {
  float: right;
  padding: 5px;
}

.search button {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.dropdown-toggle-sort {
  text-align: center;
  font-weight: 500;
  padding-left: 30px;
  letter-spacing: .8px;
}

.dropdown-toggle-sort.dropdown-toggle::after {
  display: none;
}

.sort-task .item-sort {
  cursor: pointer !important;
}

#sort-selected::after {
  content: "✌️";
  margin-left: 20px;
}

@media screen and (max-width: 990px) {
  .sort-task {
    margin-top: 20px;
  }
}